<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>My mini Chat app :</h2>
    <!-- For new page -->
    <form method="GET" action="/chats/new">
        <button class="btn">Create New Chat</button>
    </form>
   
    <!-- loop for the chats -->
    <% for ( let chat of chatsData) {%>
     <div class="chat">
        <p>From : <i><%= chat.from %></i></p>
        <div class="msg">
           <p>message :</p>
           <p><%= chat.msg %></p>
           <button class="btn">Delete</button>
           <button class="btn">Update</button>
        </div>
        <p>Recieved by : <i><%= chat.to %></i></p>
        <hr>
        <p><%= chat.created_at.toString().split(" ")[4]%> </p> 
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
     </div>
  
    <% } %>
   
</body>
</html>