<%- include("includes/header.ejs") %>

  <body>
    <%- include("includes/navbar.ejs") %>
      <div class="main-container">
        <div class="left-side">
          <div class="left-side-card">
            <% for ( user of users) { %>
            <div class="img">
              <img src="<%= user.img %>">
            </div>
            <div class="text-container">
              <h2>@ <%= user.username%></h2>
              <p><%= user.job%></p>
              <p><%= user.study %></p>
              <p><%= user.gender %></p>
              <button>Open</button>
              <button>Edit</button>
            </div>
          <% } %>
          </div>
          <div class="row">
            <h2>About Me : </h2>
            <h3><%= about.intro %></h3>
          </div>
          <div class="row">
            <h2><i class="fa-regular fa-id-badge"></i> Skills :</h2>
            <div class="skill-content">
              <% for ( let s of skills) { %>
                <p><%= s.skill %></p> <br>
                <% } %>
            </div>
            <button><a href="http://localhost:8080/resume/skills/"><i class="fa-solid fa-pen"></i></a></button>
          </div>
          <div class="row">
            <div class="skill-content">
              <% for(let c of course)  {%>
                <p>Course :<%= c.course %></p>
                <p>Date : <%= c.date %></p>
                <p>Title :<%= c.course_name %></p>
                <p>Description : <%= c.course_des %></p>
                <% } %>
            </div>
          </div>

        </div>
        <div class="right-side">
          <div class="right-side-card card row">
            <h1>About Me:</h1>
            <div class="about-container">
              <% for(let i of about) { %>
                <div class="about-me">
                  <p><i class="fa-solid fa-chevron-right"></i> Name : <%= i.username%> </p>
                  <p><i class="fa-solid fa-chevron-right"></i> Email :<%= i.email %> </p>
                  <p><i class="fa-solid fa-chevron-right"></i>Website : <%= i.website %> </p>
                  <p><i class="fa-solid fa-chevron-right"></i>Phone : <%= i.phone %> </p>
                </div>

                <div class="about-me">
                  <p><i class="fa-solid fa-graduation-cap"></i> Education: <%= i.study %></p>
                  <p><i class="fa-solid fa-building-columns"></i> University: <%= i.insitute %></p>
                  <p><i class="fa-solid fa-award"></i> Marks: <%= i.mark %></p>
                  <p><i class="fa-regular fa-calendar"></i> Year: <%= i.year %></p>
                </div>
                <% } %>
            </div>
            <button class="btns"><a href="http://localhost:8080/resume/<%= about.id %>">See More</a></button>

          </div>

          <div class="right-side-card row">
            <div class="row">
              <h1><i class="fa-solid fa-gear"></i> My Work :</h1>
              <% for(let project of projects){ %>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><i class="fa-solid fa-rocket"></i>
                            <%= project.title %>
                          </h5>
                          <p class="card-text">technoligy Used: <%= project.skill %>
                          </p>
                          <p class="card-text">
                            <%= project.des %>
                          </p>
                          <a href="#" class="btn btn-primary">See More</a>
                        </div>
                      </div>
                    </div>
                    <% } %>
            </div>
          </div>

          <div class="right-side-card row">
            <h1>My Study Content:</h1>
            <% for(let i of contents){ %>
              <p>Title : <%= i.title %></p>
              <p>Subject : <%= i.subject %></p>
              <p>Description : <%= i.des %></p>
              <button><a href="http://localhost:8080/resume/<%= i.id %>">See More</a></button>
              <button>Edit</button>
              <% } %>
             <button class="btns"><a href="http://localhost:8080/resume/new">Create New</a></button>
          </div>
        </div>

      </div>
      <%- include("includes/footer.ejs") %>
  </body>