<%- include("includes/header.ejs") %>
<body>
    <%- include("includes/navbar.ejs") %>
   
    <div class="showing-container">
        <h2>here is your content:</h2>
         <div>
            <div class="content-head">
            <h3>Username : @<%= Info.username %></h3>
            <p>UserId :<%= Info.id %></p>
            </div>
          <div class="content">
            <h4>Title: <%= Info.content[0].title %></h4>
            <p>Skills: <%= Info.content[0].subject %></p>
            <div class="content-des">
                <p><%= Info.content[0].des %></p>
            </div>
          </div>
         </div>
         <button class="btn"><a href="http://localhost:8080/resume">Back</a></button>
    </div>
    <%- include("includes/footer.ejs") %>
</body>