<%- layout("layouts/boilerplate.ejs") %>
<div>
    <h2>Edit your chat :</h2>
    <p>From : <%= chat.from %></p>
    <p>To : <%= chat.to %></p>
    <form method="POST" action="/chats/<%=chat.id%>?_method=PUT">
    <textarea name="message"  cols="36" rows="8"><%= chat.message %></textarea> <br> <br>
    <button>Edit</button>
    </form>
</div>