<%- layout("layouts/boilerplate.ejs") %>
<p>Edit chat <%= chat._id %></p>
    <p>This was send from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
   
        <textarea name="message"  cols="30" rows="5"><%= chat.message %> </textarea>
         <br> <br>
        <button><a href="/chats">Back</a></button>
    </form>