<%- layout("layouts/boilerplate.ejs") %>
    <div class="mt-5">
        <h4>Your Chat is here </h4>
       <div class="mt-5">
        <p>Chat Id : <%= chat._id %>
        </p>
        <p>This was send from <b>
                <%= chat.from %>
            </b> to <b>
                <%= chat.to %>
            </b></p>
        <p>Message :</p>
        <div>
            <%= chat.message %> </textarea>
        </div>
        <br> <br>
        <form method="GET" action="/chats/<%= chat.id %>/edit">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-primary"><a href="/chats">Back</a></button>
        </form>
       </div>
    </div>