<%- include("includes/common.ejs") %>
<body>
    <div>
        <h1>Welcome to Classroom <i class="fa-solid fa-school"></i></h1>
    </div>
     <br> <br>
    <div class="main-container">
       
          <% for ( let s of std)  {%>
            <div class="std">
            <p> Student Name : <%= s.std_name %></p>
            <p> Class : <%= s.std %></p>
            <p> Section: <%= s.section %></p>
            <p> Subject : <%= s.subject %></p>
            <p> <b>Question : <%= s.que %></b></p>
            <form method="GET" action="/classroom/<%=s.id%>/edit">
                <button>Edit</button>
            </form>
            <% if (s.created_at) { %>
                <p> <%= s.created_at.toString().split(" ")[4] %></p>
                <p><%= s.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
            <% } %>
        </div>
        <form method="POST" action="/classroom/<%= s.id %>?_method=DELETE">
            <button>Delete</button>
        </form>
         <br>
        <button><a href="/classroom/<%= s.id %>/ans">See Answer</a></button>
        <hr>
        <% } %>
       <button class="btn"><a href="/classroom/new">Ask Question</a></button>
    </div>
</body>