<%- include("includes/header.ejs") %>
<div>
    <h2>St.College for Women</h2>
    <h4>Students list is below : </h4>
    <% for ( s of std) { %>
      <div class="std">
       <ul>
        <li>Student name : <%= s.name %></li>
        <li>Father name : <%= s.father_name %></li>
        <li>Class : <%= s.std %></li> <br>
        <button>Update </button> &nbsp;
        <button> <a href="http://localhost:8080/stcollege/<%= s.id %>/result">Check Result</a></button> &nbsp;
        <button><a href="http://localhost:8080/stcollege/<%= s.id %>">See more</a></button>
       </ul>
      </div>
      <br> 
    <% } %>
    <button><a href="http://localhost:8080/stcollege/new">Add new student</a></button>
</div>