<%- include("includes/header.ejs") %>
<div>
    <h2>St.College for Women</h2>
    <h4>Students list is below : </h4>
    <% for ( s of std) { %>
      <div class="std">
       <ul>
        <li>Student name : <%= s.name %></li>
        <li>Father name : <%= s.father_name %></li>
        <li>Class : <%= s.std %></li>
        <li>Roll Number : <%= s.roll_no%></li> <br>
        <button>Update </button>
        <button> <a href="https://localhost:8080/stcollege">Check Result</a></button>
       </ul>
      </div>
      <br>
    <% } %>
    <button>Add new student</button>
</div>