<%- include("includes/header.ejs") %>
<body>
    <h2>Student Information : </h2>
    <div class="std">
      <h5>Student_Id : <%= student.id %></h5>
      <p>Name : <%= student.name %></p>
      <p>Father Name : <%= student.father_name %></p>
      <p>Class : <%= student.std %></p>
      <p>Stream  : <%= student.sub %></p>
      <p>Last Exam Result  : <%= student.result %></p>
    </div>
    <button><a href="http://localhost:8080/stcollege">Back</a></button>
</body>