<%- include("includes/header.ejs") %>

<body>

    <div class="aboutBar">
        <div class="img-div">
           <img src="<%= data.image %>" alt="">
        </div>

        <div class="about">
            <h2>About Me:</h2>

            Hey everyone! 👋 I'm <b><%= data.name %></b>. I've been rocking the teaching world for <b>3 years </b>as an Assistant
            Professor
            of Chemistry
            and helping students for over <b>5 years</b> as a tutor in Chemistry (grades 10-12) and Mathematics (grades
            6-10).
            <br class="hrtag">


            Because I love learning, I'm now getting into web development to switch to Computer Science and Engineering.
            I'm good at <b> C++, Java, Python, HTML, CSS, JavaScript, C, SQL, MongoDB, React JS, Git, and Github.</b>
            Let's dive
            into the tech world together! 🚀💻
            <br class="hrtag">
            Beyond the programming languages, I also possess a strong command of foundational mathematical concepts
            like <b>Linear Algebra</b> and <b>Calculus</b>, specifically tailored for the dynamic needs of Computer
            Science.
            <br class="hrtag">
            I'm enthusiastic about embracing new challenges and acquiring diverse skills.
            Let's connect and explore the exciting intersection of my teaching experience and burgeoning tech skills!
            🌐💻✨
        </div>
    </div>

    <div class="study-container">
        <h1>Education</h1>
        <hr class="hrtag">
        <% for (e of data.education) {%>
       
         <div>
            <h2><%= e.highest[0] %></h2>
           <p>college :<%= e.clg[0] %></p>
            <p>marks :<%=  e.marks[0] %></p>
         </div>
         <hr class="hrtag">
         <div>
            <h2><%= e.highest[1] %></h2>
           <p>college :<%= e.clg[1] %></p>
            <p>marks :<%=  e.marks[1] %></p>
         </div>
        <% } %>
       
       
    </div>

    <div class="skill-container">
        <h1>Strong Command</h1>
        <hr class="hrtag">
        <div>
            <h2>Organic Chemistry</h2>
            <p>I have 2 years of professional experience to taught Organic Chemistry to the graduate students.</p>
        </div>
        <hr class="hrtag">
        <div>
            <h2>Data Structure and Algorithms</h2>
            <p> I have a strong command on DSA.</p>
        </div>
        <hr class="hrtag">
        <div>
            <h2>Linear Algebra</h2>
            <p> I learnt LA in my Graduation and my command is very strong on it. </p>
        </div>
        <hr class="hrtag">
        <div>
            <h2>Calculus</h2>
            <p> I am also familier with Calculus.</p>
        </div>
    </div>

    <div class="exp-conatiner">
        <h1>Experience</h1>
        <hr class="hrtag">
        <% for (exp of data.experience) {%>
        <div>
            <h2><%= exp.exp1[0] %></h2>
            <p><%= exp.place[0]  %></p>
            <p><%= exp.year[0] %> years</p>
        </div>
        <hr class="hrtag">
        <div>
            <h2><%= exp.exp1[1] %></h2>
            <p><%= exp.place[1] %></p>
            <p><%= exp.year[1] %> years</p>
        </div>
        <% } %>
    </div>
    <div>
      
        <div class="skills">
            <h1>Skills</h1>
            <div class="skill-container">
            <div>
                <h2>C</h2>
                <i class="fa-solid fa-c"></i>
            </div>
            <div>
                <h2>C++</h2>
            </div>
            <div>
                <h2>SQL</h2>
                <i class="fa-solid fa-database"></i>
            </div>
            <div>
                <h2>HTML</h2>
                <i class="fa-brands fa-html5"></i>
            </div>
            <div>
                <h2>CSS3</h2>
                <i class="fa-brands fa-css3"></i>
            </div>
            <div>
                <h2>Java</h2>
                <i class="fa-brands fa-java"></i>
            </div>
            <div>
                <h2>React</h2>
                <i class="fa-brands fa-react"></i>
            </div>
            <div>
                <h2>Python</h2>
                <i class="fa-brands fa-python"></i>
            </div>
            <div>
                <h2>JavaScript</h2>
                <i class="fa-brands fa-js"></i>
            </div>
        </div>
        </div>

    </div>
    <%- include("includes/footer.ejs") %>
</body>

</html>