<%- include("includes/header.ejs") %>
    <body>
        <%- include("includes/navbar.ejs") %>
        <% for(dta of data){ %>
        <div class="main-container">
            
                <div class="left-side">
                    <p> <i class="fa-regular fa-user"></i>  <%= dta.name %></p>
                    <p><i class="fa-solid fa-envelope"></i> <%= dta.email %></p>
                </div>
              
                <div class="middle">
                 
                    <div class="middle-content">
                        <h4>Tell me about yourself :</h4>
                        <p>
                            <%= dta.about %>
                        </p>
                        <button><a href="http://localhost:8080/portfolio/<%= dta.id %>/edit">Edit</a></button>
                        <button>Delete</button>
                        <button><a href="http://localhost:8080/portfolio/<%= dta.id %>">See in Details</a></button>
                    </div>
                  
                </div>
                <div class="right-side">
                    <h4>Content :</h4>
                    <p>
                        <%= dta.content %>
                    </p>
             
                </div>
            
        </div>
        <br> 
       <% } %>
        <div class="btn">
        <button><a href="http://localhost:8080/portfolio/new">Create New Portfolio</a></button>
       </div>
    </body>
    </html>